TAILSCALE_AUTHKEY=tskey-client-xxx?ephemeral=false

JOURNEY_SYNC_DOMAIN=mydomain.com
JOURNEY_SYNC_SIGNED=abcd
JOURNEY_SYNC_ADMIN_JS_COOKIE_PASSWORD=efgh
JOURNEY_SYNC_TYPESENSE_API_KEY=xyz

JOURNEY_SYNC_MONGO_ROOT_USERNAME=root
JOURNEY_SYNC_MONGO_ROOT_PASSWORD=password