#############
# Navidrome #
#############

NAVIDROME_Data_LOCATION=../.docker-data/navidrome-server/navidrome

# Location of media files
NAVIDROME_MEDIA_LOCATION=/media/drivename/Media/

NAVIDROME_EXTAUTH_TRUSTEDSOURCES=0.0.0.0/0

##########
# Others #
##########

PUID=1000
PGID=1000
