services:
  navidrome-server:
    image: deluan/navidrome:latest
    container_name: navidrome_server
    restart: unless-stopped
    user: ${PUID}:${PGID}
    environment:
      ND_EXTAUTH_TRUSTEDSOURCES: ${NAVIDROME_EXTAUTH_TRUSTEDSOURCES}
      ND_EXTAUTH_USERHEADER: X-authentik-username
    volumes:
      - "${NAVIDROME_Data_LOCATION}:/data"
      - "${NAVIDROME_MEDIA_LOCATION}:/music:ro"
    networks:
      - proxy-bridge

networks:
  proxy-bridge:
    name: proxy_bridge
    external: true
