#############
# Tailscale #
#############

TS_HOSTNAME=tailscale-hostname
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"
TS_STATE_LOCATION=../.docker-data/pihole/tailscale

##############
# Linkwarden #
##############

LINKWARDEN_DATA_LOCATION=../.docker-data/linkwarden-server/linkwarden
LINKWARDEN_DB_LOCATION=../.docker-data/linkwarden-server/db
MEILI_DATA_LOCATION=../.docker-data/linkwarden-server/meili

NEXTAUTH_URL=https://tailscale-hostname.xxx.ts.net:3000/api/v1/auth
NEXTAUTH_SECRET=
POSTGRES_PASSWORD=
