###########
# Gluetun #
###########

GT_DATA_PATH=./data/gluetun

GT_VPN_PROVIDER=protonvpn
GT_VPN_TYPE=wireguard

GT_OVPN_USER=
GT_OVPN_PWD=

GT_WG_PVT_KEY=
GT_WG_ADDR=

VPN_UPDATER_PERIOD=24h

###############
# qBittorrent #
###############

# Refer to Readme.md for an explanation of the variables

QBT_LEGAL_NOTICE=confirm
QBT_VERSION=latest
QBT_TORRENTING_PORT=6881
# QBT_WEBUI_PORT=8080
QBT_WEBUI_PORT=8085

QBT_CONFIG_PATH=./data/qbittorrent/config
QBT_DOWNLOADS_PATH=./data/downloads

TZ=Etc/UTC