#############
# Tailscale #
#############

TS_HOSTNAME=tailscale-hostname
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"
TS_STATE_LOCATION=../.docker-data/syncthing-client/tailscale

#############
# Syncthing #
#############

SYNC_CONFIG_LOCATION=../.docker-data/syncthing-client/syncthing
SYNC_FOLDER_LOCATION_1=""
SYNC_FOLDER_LOCATION_2=""

PUID=1000
PGID=1000
