###########
# Gluetun #
###########

GT_DATA_PATH=./data/gluetun

GT_VPN_PROVIDER=protonvpn
GT_VPN_TYPE=openvpn
GT_VPN_SERVER_COUNTRIES="Japan, United States"

GT_OVPN_USER=
GT_OVPN_PWD=

GT_WG_PVT_KEY=
GT_WG_ADDR=

GT_VPN_UPDATER_PERIOD=24h

###############
# qBittorrent #
###############

# Refer to Readme.md for an explanation of the variables

QBT_LEGAL_NOTICE=confirm
QBT_VERSION=latest
QBT_TORRENTING_PORT=6881
# QBT_WEBUI_PORT=8080
QBT_WEBUI_PORT=8085

QBT_CONFIG_PATH=./data/qbittorrent/config
QBT_DOWNLOADS_PATH=./data/qbittorrent/downloads

############
# Prowlarr #
############
PARR_PORT=9696
PARR_CONFIG_PATH=./data/prowlarr/config

##########
# Radarr #
##########
RARR_PORT=7878
RARR_CONFIG_PATH=./data/radarr/config

##########
# Sonarr #
##########
SARR_PORT=8989
SARR_CONFIG_PATH=./data/sonarr/config

##########
# Others #
##########
MEDIA_ANIME_PATH=./data/media/anime
MEDIA_MOVIES_PATH=./data/media/movies
MEDIA_SERIES_PATH=./data/media/series
PUID=1000
PGID=1000
TZ=Etc/UTC