# =============================================================================
# Tailscale
# -----------------------------------------------------------------------------
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"
TS_STATE_LOCATION=./data/tailscale

# =============================================================================
# Jellyfin
# -----------------------------------------------------------------------------
# Location of config (accounts, library, plugins etc..)
CONFIG_LOCATION=./data/config

# Location of cache (temp files)
CACHE_LOCATION=./data/cache

# Location of media files
MEDIA_LOCATION=/run/media/username/Media/
