# Location of media files
MEDIA_LOCATION=/run/media/username/Media/

# Location of config (accounts, library, plugins etc..)
CONFIG_LOCATION=./data/config

# Location of cache (temp files)
CACHE_LOCATION=./data/cache
