services:
  jellyfin-tailscale:
    image: tailscale/tailscale:latest
    container_name: jellyfin_tailscale
    hostname: ${TS_HOSTNAME}
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - 8096:8096
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_SERVE_CONFIG=/config/tailscale.json
    volumes:
      - ${TS_STATE_LOCATION}:/var/lib/tailscale
      - ./config:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped

  jellyfin-server:
    image: jellyfin/jellyfin
    container_name: jellyfin_server
    group_add:
      - ${JELLYFIN_GROUP_ADD}
    network_mode: "service:jellyfin-tailscale"
    volumes:
      - ${JELLYFIN_CONFIG_LOCATION}:/config
      - ${JELLYFIN_CACHE_LOCATION}:/cache
      - type: bind
        source: ${JELLYFIN_MEDIA_LOCATION}
        target: /media
    restart: "unless-stopped"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
