#############
# Tailscale #
#############

TS_HOSTNAME=tailscale-hostname
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"
TS_STATE_LOCATION=../.docker-data/komga-server/tailscale

#########
# Komga #
#########

KOMGA_CONFIG_LOCATION=../.docker-data/komga-server/komga

# Location of your data directory on disk. Choose a folder that contains both your books and your preferred import location for hardlinks to work.
KOMGA_DATA_LOCATION=/media/drivename/Media/

TZ=Etc/UTC
PUID=1000
PGID=1000