##########
# Immich #
##########

# The location where your uploaded files are stored
IMMICH_DATA_LOCATION=/srv/DockerData/homelab/immich-server/data/immich
# IMMICH_BACKUPS_LOCATION=/srv/DockerData/homelab/immich-server/data/immich/backups
# IMMICH_ENCODED_VIDEO_LOCATION=/srv/DockerData/homelab/immich-server/data/immich/encoded-video
# IMMICH_PROFILE_LOCATION=/srv/DockerData/homelab/immich-server/data/immich/profile
# IMMICH_THUMBS_LOCATION=/srv/DockerData/homelab/immich-server/data/immich/thumbs
# IMMICH_UPLOAD_LOCATION=/srv/DockerData/homelab/immich-server/data/immich/upload

# External library
IMMICH_EXTERNAL_PHOTOS_LOCATION_1=
IMMICH_EXTERNAL_PHOTOS_LOCATION_2=

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=../.docker-data/immich-server/postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

# The Immich version to use. You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=v2

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=postgres

IMMICH_LIMIT_CPU=
IMMICH_LIMIT_MEMORY=
IMMICH_ML_LIMIT_CPU=
IMMICH_ML_LIMIT_MEMORY=

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
