services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    container_name: immich_server
    restart: always
    healthcheck:
      disable: false
    depends_on:
      - redis
      - database
    env_file:
      - .env
    volumes:
      - ${IMMICH_DATA_LOCATION}:/data
      # - ${IMMICH_BACKUPS_LOCATION}:/data/backups
      # - ${IMMICH_ENCODED_VIDEO_LOCATION}:/data/encoded-video
      # - ${IMMICH_PROFILE_LOCATION}:/data/profile
      # - ${IMMICH_THUMBS_LOCATION}:/data/thumbs
      # - ${IMMICH_UPLOAD_LOCATION}:/data/upload
      - ${IMMICH_EXTERNAL_PHOTOS_LOCATION_1}:/external_photos_1:ro
      # - ${IMMICH_EXTERNAL_PHOTOS_LOCATION_2}:/external_photos_2:ro
      - /etc/localtime:/etc/localtime:ro
    deploy:
      resources:
        limits:
          cpus: "${IMMICH_LIMIT_CPU:-1.0}"
          memory: ${IMMICH_LIMIT_MEMORY:-1G}
    networks:
      - immich-network
      - proxy-bridge

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    container_name: immich_machine_learning
    restart: always
    healthcheck:
      disable: false
    env_file:
      - .env
    volumes:
      - model-cache:/cache
    deploy:
      resources:
        limits:
          cpus: "${IMMICH_ML_LIMIT_CPU:-2.0}"
          memory: ${IMMICH_ML_LIMIT_MEMORY:-1G}
    networks:
      - immich-network

  redis:
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    container_name: immich_redis
    restart: always
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - immich-network

  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich_postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: "--data-checksums"
    shm_size: 128mb
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    networks:
      - immich-network

volumes:
  model-cache:

networks:
  immich-network:
    name: immich_default

  proxy-bridge:
    name: proxy_bridge
    external: true
