services:
  vaultwarden-tailscale:
    image: tailscale/tailscale:latest
    container_name: vaultwarden_tailscale
    hostname: ${TS_HOSTNAME}
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_SERVE_CONFIG=/config/tailscale.json
    volumes:
      - ${TS_STATE_LOCATION}:/var/lib/tailscale
      - ./config:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped

  vaultwarden-server:
    image: vaultwarden/server:latest
    container_name: vaultwarden_server
    network_mode: "service:vaultwarden-tailscale"
    restart: unless-stopped
    environment:
      DOMAIN: ${VW_DOMAIN}
    volumes:
      - ${VW_DATA_LOCATION}:/data/
