services:
  forgejo-server:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo_server
    restart: always
    depends_on:
      - forgejo-db
    environment:
      - USER_UID=${PUID}
      - USER_GID=${PGID}
      - FORGEJO__database__DB_TYPE=mysql
      - FORGEJO__database__HOST=forgejo-db:3306
      - FORGEJO__database__NAME=${FORGEJO_MYSQL_DATABASE}
      - FORGEJO__database__USER=${FORGEJO_MYSQL_USER}
      - FORGEJO__database__PASSWD=${FORGEJO_MYSQL_PASSWORD}
    volumes:
      - ${FORGEJO_DATA_LOCATION}:/data
      - /etc/localtime:/etc/localtime:ro
    networks:
      - forgejo-network
      - proxy-bridge

  forgejo-db:
    image: mysql:8
    container_name: forgejo_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${FORGEJO_MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${FORGEJO_MYSQL_USER}
      - MYSQL_PASSWORD=${FORGEJO_MYSQL_PASSWORD}
      - MYSQL_DATABASE=${FORGEJO_MYSQL_DATABASE}
    volumes:
      - ${FORGEJO_DB_LOCATION}:/var/lib/mysql
    networks:
      - forgejo-network

networks:
  forgejo-network:
    name: forgejo_default
    external: false

  proxy-bridge:
    name: proxy_bridge
    external: true
