#############
# Tailscale #
#############
TS_HOSTNAME=tailscale-hostname
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"

#####################
# Cloudflare Tunnel #
#####################
CF_TUNNEL_TOKEN=

#######################
# nginx Proxy Manager #
#######################
NPM_INITIAL_ADMIN_EMAIL=admin@example.com
NPM_INITIAL_ADMIN_PASSWORD=changeme