#############
# Tailscale #
#############
TS_HOSTNAME=tailscale-hostname
TS_AUTHKEY="tskey-client-notAReal-OAuthClientSecret1Atawk"
TS_STATE_LOCATION=./data/tailscale

###########
# Journey #
###########
JOURNEY_SYNC_DOMAIN=mydomain.com
JOURNEY_SYNC_SIGNED=randomalphanumeric1
JOURNEY_SYNC_ADMIN_JS_COOKIE_PASSWORD=randomalphanumeric2
JOURNEY_SYNC_TYPESENSE_API_KEY=xyz

JOURNEY_SYNC_MONGO_ROOT_USERNAME=root
JOURNEY_SYNC_MONGO_ROOT_PASSWORD=password

JOURNEY_SYNC_MONGO_USER_USERNAME=user
JOURNEY_SYNC_MONGO_USER_PASSWORD=password